.editableSpan {
    margin: 0;
}

.is-done {
    opacity: 0.5;
    font-weight: bold;
    text-decoration: line-through;
}

.tasks {
    list-style: none;
    padding: 0;
}

.buttons_box {
    margin-right: 10px;
}